.container-i{
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.container-i label{
    font-weight: 700;
    font-size: 1rem;
    color: rgb(72, 71, 71);
    text-align: left;
}

.container-i input{
    border-radius: 5px;
    border: 1px solid wheat;
    outline:none;
    padding: 10px 15px;
    color: #000;
}

.container-i input:hover{
    border-color: wheat;
}

.container-i input:focus{
    border-color: violet;
}